{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        {% if DISPLAY_CATEGORY_IN_BREADCRUMBS %}
            <ol class="breadcrumb panel panel-default">
                <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
                <li><a href="{{ SITEURL }}/{{ article.category.url }}" title="{{ article.category }}">{{ article.category }}</a></li>
                <li class="active">{{ article.title }}</li>
            </ol>
        {% else %}
            <ol class="breadcrumb">
                <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
                <li class="active">{{ article.title }}</li>
            </ol>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <article>
          <div class="panel panel-default">
            <div class="panel-heading">
                {% include "includes/article_info.html" %}
            </div>
            <div class="panel-body">
                <h1 class="entry-title">
                    <a href="{{ SITEURL }}/{{ article.url }}"
                    rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">
                        {{ article.title }}
                    </a>
                </h1>
                <div class="entry-content">
                    {{ article.content }}
                </div>
                <!-- /.entry-content -->
                {% include 'includes/related-posts.html' %}
                {% include 'includes/addthis.html' %}
                {% include 'includes/comments.html' %}
            </div>
          </div>
        </article>
    </section>

{% endblock %}
