{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                      {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                        {% include "includes/article_info.html" %}
                      {% endif %}
                    </div>
                    <a href="{{ SITEURL }}/{{ article.url }}" class="list-group-item">
                        <div class="panel-body">
                                <h2>{{ article.title }}</h2>
                                <div class="summary">{{ article.summary }}
                                    {% include 'includes/comment_count.html' %}
                                    {% if not HIDE_MORE_BUTTON %}
                                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                                    {% endif %}
                                </div>
                        </div>
                    </a>
                </div>
            </article>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
